<section class="fork-subscription-pricing">
    <h2 class="fork-subscription-pricing__title">Fork Subscription Pricing</h2>
    <div class="fork-subscription-pricing__wrapper">
        <div class="fork-subscription-pricing__container">
            <div class="fork-subscription-pricing__container-header">
                <p class="fork-subscription-pricing__header-text">Students</p>
            </div>
            <div class="fork-subscription-pricing__main">
                <h3 class="fork-subscription-pricing__price"><span class="fork-subscription-pricing__dollar">$</span>29</h3>
                <p class="fork-subscription-pricing__month">per month</p>
                <p class="fork-subscription-pricing__license" style="line-height: 36px;">Personal License</br></p>
                <div class="fork-subscription-pricing__btn">
                    <a href="#" style="text-decoration: none;">
                    <p class="fork-subscription-pricing__btn-text">purchase</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="fork-subscription-pricing__container">
            <div class="fork-subscription-pricing__container-header">
                <p class="fork-subscription-pricing__header-text">professional</p>
            </div>
            <div class="fork-subscription-pricing__main">
                <h3 class="fork-subscription-pricing__price"><span class="fork-subscription-pricing__dollar">$</span>59</h3>
                <p class="fork-subscription-pricing__month">per month</p>
                <p class="fork-subscription-pricing__license">Professional License</br>Email Support</p>
                <div class="fork-subscription-pricing__btn">
                    <a href="#" style="text-decoration: none;">
                    <p class="fork-subscription-pricing__btn-text">purchase</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="fork-subscription-pricing__container-hover">
            <div class="fork-subscription-pricing__container-header-hover">
                <p class="fork-subscription-pricing__header-text">agency</p>
            </div>
            <div class="fork-subscription-pricing__main">
                <h3 class="fork-subscription-pricing__price-hover"><span class="fork-subscription-pricing__dollar">$</span>99</h3>
                <p class="fork-subscription-pricing__month-hover">per month</p>
                <p class="fork-subscription-pricing__license">1-12 Team Members</br>Phone Support</p>
                <div class="fork-subscription-pricing__btn">
                    <a href="#" style="text-decoration: none;">
                    <p class="fork-subscription-pricing__btn-text">purchase</p>
                    </a>    
                </div>
            </div>
        </div>
        <div class="fork-subscription-pricing__container">
            <div class="fork-subscription-pricing__container-header">
                <p class="fork-subscription-pricing__header-text">enterprise</p>
            </div>
            <div class="fork-subscription-pricing__main">
                <h3 class="fork-subscription-pricing__price"><span class="fork-subscription-pricing__dollar">$</span>159</h3>
                <p class="fork-subscription-pricing__month">per month</p>
                <p class="fork-subscription-pricing__license">Unlimited Team Members</br>24/ 7 Phone Support</p>
                <div class="fork-subscription-pricing__btn">
                    <a href="#" style="text-decoration: none;">
                    <p class="fork-subscription-pricing__btn-text">purchase</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>