.fork-subscription-pricing{
    padding: 10% 0px;
    background-image: url(../img/bg/pricing-bg.png);
    background-size: cover;
  background-position: center;
    width: 100%;
    align-items: center;
    text-align: center;
    .fork-subscription-pricing__title{
        margin: 0px auto 10%;
        height: 46px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #FFFFFF;
    }
    .fork-subscription-pricing__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;   
    }
 
    .fork-subscription-pricing__container{
        background: rgba(255, 255, 255, 0.06);
        width: 257px;
        height: 457px;
        flex-basis: auto;
    }
    .fork-subscription-pricing__container-header{
        border: 1px solid rgba(255, 255, 255, 0.06);
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.06);
    }
    .fork-subscription-pricing__header-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 60px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .fork-subscription-pricing__main{
        align-items: center;
        text-align: center;
    }
    .fork-subscription-pricing__price{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        margin-top: 70px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .fork-subscription-pricing__dollar{
        font-weight: 400;
    }
    .fork-subscription-pricing__month{
        margin: 0px 0px 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .fork-subscription-pricing__license{
        height: 9%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
    .fork-subscription-pricing__btn{
        margin: auto;
        width: 163px;
        height: 45px;
        background: rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 50px;

    }
    .fork-subscription-pricing__btn-text{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 45px;
        text-transform: uppercase;
        color: #FFFFFF;

    }
    .fork-subscription-pricing__container-hover{
        background: rgba(70, 48, 72, 0.84);
        flex-basis: auto;
        width: 299px;
        height: 560px;
    }
    .fork-subscription-pricing__container-header-hover{
        border: 1px solid rgba(255, 255, 255, 0.06);
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.11);
    }
    .fork-subscription-pricing__price-hover{
        font-family: 'Montserrat';
        margin-top: 90px;
        font-style: normal;
        font-weight: 700;
        font-size: 82px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .fork-subscription-pricing__month-hover{
        margin: -0px 0px 165px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

// .fork-subscription-pricing__wrapper {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     gap: 15px;
//   }
  
//   .fork-subscription-pricing__container {
//     width: 257px;
//     height: 457px;
//   }
  

@media screen and (max-width: $lg-max-content) {
    .fork-subscription-pricing__container,
    .fork-subscription-pricing__container-hover {
      flex-basis: calc(50% - 15px);
    }
  }
  
  @media screen and (max-width: $md-max-content) {
    .fork-subscription-pricing__container,
    .fork-subscription-pricing__container-hover {
      flex-basis: 50%;
      }
  }
  
  @media screen and (max-width: $sm-max-content) {
    .fork-subscription-pricing__container,
    .fork-subscription-pricing__container-hover {
      flex-basis: 100%;
    }
  }